.btn__wrapper {
    display: flex;
    flex-direction: var(--panel__direction);
    justify-content: space-between;
    gap: 12px;
}

%baseBtn {
    // display: flex;
    // flex-direction: row;
    padding: var(--button__padding);
    background: var(--button__bg--color);
    font-size: var(--button__font--size);
    color: var(--button__text--color);
    text-align: center;
    position: relative;
    // border: none;
    border-radius: var(--button__border--radius)
}

button {
    --button__padding: .75rem 1.25rem;
    --button__font--size: 14px;
    @extend %baseBtn;
    
    &:hover {
        // background: darken(rgba(122, 122, 122, .2), 10%);
        filter: brightness(120%);
        cursor: pointer;
    }
    
    &:active {
        // background: darken(rgba(122, 122, 122, .2), 10%);
        filter: brightness(95%);
        cursor: grab;
    }
    
    i {
        font-size: var(--button__font--size);
    }

    > a {
        width: 100%;
        height: 100%;
    }
    
    &[size=sm] {
        --button__padding: .35rem .65rem;
        --button__font--size: 12px;
    }
    
    &[size=lg] {
        
    }
    
    &[class*=__filled] {

    }
    
    &[class*=__outline] {
        --button__border--color: var(--button__text--color);
        background: none;
        border: solid 2px var(--button__border--color);
    }
    
    &[class*=__link] {
        background: none;
        border: none;
    }
    
    &[class$=--primary] {
        --button__text--color: white;
        --button__bg--color: var(--primary);
    }
    
    &[class$=--secondary] {
        --button__text--color: var(--secondary);
        --button__bg--color: var(--secondary);
    }
    
    &[class$=--tertiary] {
        --button__text--color: var(--primary);
        --button__bg--color: var(--tertiary);
    }
}