%baseCard {
    display: flex;
    flex-direction: var(--card__direction);
    justify-content: start;
    align-items: var(--card__align);
    background-color: var(--card__bg--color);
    box-shadow: var(--card__shadow);
    padding: var(--card__padding);
    gap: var(--card__gap);
    text-align: var(--card__text--align);
    border-radius: var(--card__border--radius);
    box-shadow: var(--shadow);
}

[list] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--card__gap);
    width: 100%;
}

[card] {
    @extend %baseCard;
    --card__align: center;

            
    &[type=default] {
        --card__text--align: center;
        --card__padding: 2rem;
        --card__bg--color: white;
        --card__gap: 16px;
        
        gap: var(--card__gap);
        border-radius: 20px;
        width: fit-content;
        @extend %baseCard;
    }

    &[type=transparent] {
        --card__bg--color: transparent;
        --card__shadow: none;
        @extend %baseCard;
    }
    
    &[type=dark] {
        --card__bg--color: var(--primaryLighter);
        --card__border--radius: 50%;
        @extend %baseCard;
    }

    &[size=sm] {
        --card__title--size: 0.9rem;
        --card__subtitle--size: 0.75rem;
        --card__padding: .75rem;
        --card__height: fit-content;
        @extend %baseCard;
    }

    &[size=md] {
        --card__title--size: 1.2rem;
        --card__subtitle--size: 1rem;
        --card__padding: 1rem;
        --card__height: fit-content;
        @extend %baseCard;
    }

    &[size=lg] {
        --card__title--size: 1.7rem;
        --card__subtitle--size: 1.2rem;
        @extend %baseCard;
    }

    &[direction=row] {
        // flex-wrap: wrap;
        flex-direction: column;
        @extend %baseCard;
    }

    &[direction=column] {
        --card__direction: column;
        --card__text--align: center;
        @extend %baseCard;
    }

    .title__wrapper--row {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--card__gap);
    }

    > img.card__img {
        height: 180px;
    }

    > i {
        --card__title--size: 1.6rem;
        color: var(--secondary);
        font-size: var(--card__title--size);
    }

    .card__title {
        --card__title--size: 16px;
        color: var(--primary);
        font-size: var(--card__title--size);
        line-height: var(--card__lineHeight);
    }

    .card__subtitle {
        --card__subtitle--size: 12px;
        --card__lineHeight: 18px;
        --card__subtitle--weight: 400;
        color: var(--lightNeutral);
        font-size: var(--card__subtitle--size);
        font-weight: var(--card__subtitle--weight);
        line-height: var(--card__lineHeight);
    }
}