footer {
    padding: 1rem 6rem;
    background-color: rgba(255, 255, 255, 0.85);
    border-top: solid 1px var(--neutral);
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    height: var(--footer__height);

    small {
        &.footer__text--sm {
            font-size: x-small;
            line-height: .9rem;
        }
    }
}


@media screen and (max-width: 859px) { 
    footer {
        --footer__height: ;
        padding: 1rem;
        justify-content: center;
        text-align: center;
        height: var(--footer__height);
    }
}