footer {
    padding: 1rem 6rem;
    border-top: solid 1px var(--neutral);

    small {
        &.footer__text--sm {
            font-size: x-small;
            line-height: .5rem;
        }
    }
}


@media screen and (max-width: 859px) { 
    footer {
        padding: 1rem var(--panel__padding)!important;
    }
}