header {
    --page__body--padding: 6rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem var(--page__body--padding);
    height: var(--header__height);
    width: 100vw;
    background: var(--header__bg--color);
    box-sizing: border-box;
    // position: fixed;
    // background-color: white;
    // z-index: 1;
    
    @media screen and (max-width: 859px) {
        --page__body--padding: 2rem;

        #ep__logo--desktop {
            display: none;
        }
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--header__gap--horizontal);

        i {
            font-size: var(--icon--size);
        }
    }

    div ~ i.fa-bars {
        display: none;
    }
}
