body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	height: 100vh;
    background-color: var(--page__body--bg);
    position: relative;
    
    .circle--primary {
        --circle__width: 180px;
        --circle__height: 180px;
        --circle__position--top: 50%;
        --circle__position--left: -100px;
        
        width: var(--circle__width);
        height: var(--circle__height);
        background: var(--primaryLighter);
        border-radius: calc(var(--circle__width) / 2);
        position: absolute;
        top: var(--circle__position--top);
        left: var(--circle__position--left);
    }

    .circle--secondary {
        --circle__width: 70px;
        --circle__height: 140px;
        --circle__position--top: 20%;
        --circle__position--right: -var(--circle__width);
        
        width: var(--circle__width);
        height: var(--circle__height);
        background: var(--secondaryLight);
        border-top-left-radius: var(--circle__width);
        border-bottom-left-radius: var(--circle__width);
        position: absolute;
        top: var(--circle__position--top);
        right: 0;
    }

    .circle--tertiary {
        --circle__width: 140px;
        --circle__height: 140px;
        --circle__position--top: 450px;
        --circle__position--left: -75px;
        // --circle__position--right: 100px;

        width: var(--circle__width);
        height: var(--circle__height);
        background: var(--tertiaryLight);
        border-radius: calc(var(--circle__width) / 2);
        position: absolute;
        top: var(--circle__position--top);
        left: var(--circle__position--left);
    }

    .circle--neutral {
        --circle__width: 70px;
        --circle__height: 140px;
        --circle__position--top: 100px;
        // --circle__position--left: 100px;
        --circle__position--right: -var(--circle__width);

        width: var(--circle__width);
        height: var(--circle__height);
        background: var(--secondaryLighter);
        border-top-left-radius: var(--circle__width);
        border-bottom-left-radius: var(--circle__width);
        position: absolute;
        top: var(--circle__position--top);
        right: 0;
    }

    .circle--primaryLighter {
        --circle__width: 90px;
        --circle__height: 180px;
        --circle__position--top: 2200px;
        --circle__position--right: -var(--circle__width);
        
        width: var(--circle__width);
        height: var(--circle__height);
        background: var(--primaryLighter);
        border-top-left-radius: var(--circle__width);
        border-bottom-left-radius: var(--circle__width);
        position: absolute;
        top: var(--circle__position--top);
        right: 0;
    }
}

main {
    height: fit-content;
}

.wrapper--row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    // grid-auto-flow: dense;
    width: 100%;
    align-self: center;
    gap: 2rem;
    margin-top: 1.5rem;

    .link__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        opacity: .5;
        gap: .5rem;
        filter: grayscale(1);

        &:hover {
            opacity: 1;
        }

        p {
            font-size: 14px;
            text-align: left;
        }
    }
}

@media screen and (max-width: 859px) { 
    .wrapper--row {
        .link__logo {
            justify-content: center;
        }
    }
}

// Imagenes
img {
    &.cover {
        object-fit: cover;
    }

    &.contain {
        object-fit: contain;
    }

    &.rounded {
        border-radius: 25px;
    }

    &.circle {
        border-radius: 50%;
    }
}
