%basePanel {    
    background-color: var(--panel__bg--color);
    box-shadow: var(--panel__shadow);
    padding: var(--panel__padding);
    border-radius: var(--panel__border--radius);
    gap: var(--panel__gap);
    display: flex;
    flex-direction: var(--panel__direction);
    justify-content: var(--panel__justify);
    align-items: var(--panel__align);
}

[panel] {
    @extend %basePanel;

    &:first-child{
        > img {
            --panel__img--size: 75%;
            --panel__img--radius: 0;
        }
       } 

    &:not([type=rounded], [type=dark]) {
        // margin-bottom: 3rem;
    }

    .card__wrapper--inner {
        display: flex;
        flex-direction: var(--panel__direction);
        justify-content: var(--panel__justify);
        align-items: var(--panel__align);
        width: var(--panel__width);
        text-align: var(--panel__text--align);
        gap: var(--panel__gap);
    }
            
    &[type=default] {
        --panel__bg--color: white;
        --panel__shadow: 3px 4px 10px 3px rgba(140, 140, 140, 0.5);
        @extend %basePanel;
    }

    &[type=transparent] {
        --panel__bg--color: transparent;
        --panel__shadow: none;
        @extend %basePanel;
    }
    
    &[type=rounded] {
        --panel__bg--color: var(--secondaryLighter);
        // --panel__border--radius: 999px;
        // --panel__padding: 2rem;
        --panel__shadow: none;
        --panel__width: 100%;
        @extend %basePanel;
    }
        
    &[type=dark] {
        --panel__bg--color: var(--tertiaryLighter);
        --panel__title--color: var(--secondary);
        --panel__subtitle--color: var(--neutral);
        --panel__border--radius: 0;
        --panel__shadow: none;
        @extend %basePanel;
    }

    &[size=sm] {
        @extend %basePanel;
    }

    &[size=lg] {
        @extend %basePanel;
    }

    &[direction=horizontal] {
        --panel__direction: row;
        --panel__text--align: left;
        @extend %basePanel;
    }

    .title__wrapper--row {
        width: 100%;
    }

    > img {
        width: var(--panel__img--size);
        height: var(--panel__img--size);
        border-radius: var(--panel__img--radius);
        object-fit: cover;
    }

    .panel__prefix {
        --panel__subtitle--size: 10px;
        text-transform: uppercase;
        font-size: var(--panel__subtitle--size);
        color: var(--primary);
        display: flex;
        align-items: center;
        
        .prefix__circle {
            --panel__subtitle--size: 9.5px;
            font-size: var(--panel__subtitle--size);
            padding: calc(var(--panel__subtitle--size)*1.5);
            height: calc(var(--panel__subtitle--size) * 3);
            width: calc(var(--panel__subtitle--size) * 3);
            border-radius: 50%;
            border: solid var(--circle__border--weight) var(--secondary);
            color: var(--secondary);
            font-weight: bolder;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-left: calc(var(--panel__subtitle--size)/2); 
        }
    }

    &[type=transparent]:nth-child(5) {
        .panel__prefix {
            --panel__subtitle--size: 21px!important;
    
        .prefix__circle {
                --panel__subtitle--size: 20.5px!important;
                font-size: var(--panel__subtitle--size);
            }
        }
    }

    .panel__title {
        color: var(--panel__title--color);
        font-size: var(--panel__title--size);
        font-weight: var(--panel__title--weight);
    }
    
    .panel__subtitle {
        color: var(--panel__subtitle--color);
        font-size: var(--panel__subtitle--size);
        line-height: var(--panel__lineHeight);
    }
}
    
.circle__half--top {
    height: 70px;
    width: var(--panel__width);
    background: var(--secondaryLighter); 
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.circle__half--top:last-of-type {
    height: 90px;
    background: #375B9F!important;
    margin-bottom: -6px;
}
 
.circle__half--bottom {
    height: 70px;
    width: var(--panel__width);
    background: var(--secondaryLighter);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}