@media screen and (min-width: 860px) {

    header {
        #ep__logo--responsive {
            display: none;
        }

        #ep__logo--desktop {
            display: block;
            height: 100%;
        }
    }
    
    [panel] {
        --page__body--padding: 6rem;

        --panel__direction: row;
        --panel__justify: space-between;
        --panel__align: center;
        --panel__gap: 1rem;
        
       &:first-child{
        > img {
            --panel__img--size: 50%!important;
            --panel__img--radius: 0;
            height: 75%!important;
        }
       } 

       &[type=dark] {
        --panel__height: calc(100vh + var(--footer__height));
        --panel__padding: var(--page__body--padding)!important;

            .panel__title, .panel__subtitle {
                width: 65vw!important;
                align-self: center;
            }
       }
       
        &[type=transparent]:nth-child(1) {
            --panel__padding: 0 var(--page__body--padding)!important;
            --panel__direction: row-reverse;
            --panel__gap: 2.5rem;
        }

        .panel__prefix {
            --panel__subtitle--size: 12px!important;
            font-size: var(--panel__subtitle--size);

            .prefix__circle {
                --panel__subtitle--size: 11.5px!important;
                --circle__border--weight: 3px!important;
                font-size: var(--panel__subtitle--size);
            }
        }

        &:not(:first-child) {
            .panel__title {
                --panel__title--size: 36px;
                color: var(--panel__title--color);
                font-size: var(--panel__title--size);
                font-weight: var(--panel__title--weight);
            }
            
            .panel__subtitle {
                --panel__subtitle--size: 18px;
                color: var(--panel__subtitle--color);
                font-size: var(--panel__subtitle--size);
                line-height: var(--panel__lineHeight);
            }
        }

        span.card__wrapper--inner {
            --panel__direction: column;
            --panel__justify: space-between;
            --panel__align: start;   
            --panel__text--align: left;
            --panel__title--size: 48px;
            --panel__subtitle--size: 21px;
            --panel__lineHeight: 1.9rem;
            --panel__gap: 2.5rem;
        }
        
        div.card__wrapper--inner {
            --panel__direction: row;
            --panel__justify: space-between;
            --panel__align: flex-end;   
            --panel__text--align: left;

            display: flex;
            flex-direction: var(--panel__direction);
            justify-content: var(--panel__justify);
            align-items: var(--panel__align);
            width: var(--panel__width);
            text-align: var(--panel__text--align);
        }
    }

    [card] {
        --card__align: flex-start!important;
        display: flex;
        
        &[type=default] {
            --card__text--align: left!important;
            --card__gap: 36px!important;
        }

        &[direction=row] {
            flex-direction: row!important;
        }
 
        .card__title {
            --card__title--size: 24px!important;            
            font-size: var(--card__title--size)!important;
            line-height: var(--card__lineHeight);
        }
        
        .card__subtitle {
            --card__subtitle--size: 16px!important;
            --card__lineHeight: 28px!important;
            color: var(--lightNeutral);
            font-size: var(--card__subtitle--size);
            line-height: var(--card__lineHeight);
    
            font-weight: 300; 
            word-wrap: break-word;
        }

        .title__wrapper--row {
            --card__gap: 24px!important;
        }
    }

    [list] {
        flex-direction: row!important;
        width: 100%;
    }

    // Buttons
    .btn__wrapper {
        --panel__direction: row;
        button {
            --button__padding: .75rem 1.25rem;
            --button__font--size: 14px;
        }
    }

    // Forms
    body[type='form'] {
        --page__body--padding: 1rem;
        padding: var(--page__body--padding);
      }

}
