table  {
    overflow: auto;
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
    
    thead {
        tr {
            td {
                border: 1px solid #dededf;
                background-color: #eceff1;
                color: #000000;
                padding: 12px;
                font-size: 14px;
            }
        }
    }
    
    td {
        border: 1px solid #dededf;
        background-color: #ffffff;
        color: #000000;
        padding: 12px;
    }
}

